<head>
    {% include "head.html" %}
</head>
<body>
    <div class="navbar">
        <div style="float: left;" class="navbar-el">{{ user or  "" }}</div>
        <a href="/oauth2/sign_out" class="navbar-el">Logout</a>
    </div>
    <div class="main-container">

        {% for key, value in verifications["verifications"].items() %}
        <div class="row" style="margin: auto;">
            <div class="col-3">
                {{ key }}                
            </div>
            <div class="col-3">
                {% if value %}
                <p style="color: green">Verified</p>
                {% else %}
                <p style="color: orange">Not Verified</p>
                <a href="/verify?type={{ key }}" class="btn btn-primary">Verify Now</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
