<head>
    {% include "head.html" %}
</head>
<body>
    {% include "navbar.html" %}
    <div class="main-container" style="padding: 0;">
        <div class="center" style="text-align: center;">
            <div class="list">
                <ul>1. Download the <a href="https://ntfy.sh">ntfy</a> app from the playstore.</ul>
                <ul>2. Scan the QR-Code</ul>
            </div>
            <img src="/qr-encode?topic={{ user_obj.topic }}" id="qr-target"></img>
        </div>
    </div>
</body>
