<head>
    {% include "head.html" %}
</head>
<body>
    {% include "navbar.html" %}
    <div class="main-container" style="padding: 0;">

            <div class="center" style="text-align: center;">
                A mail was sent to <i id="mail"></i>.<br>
                Please go to your mail account and follow the instructions.<br>
                <div class="spinner-border" role="status"
                        style="margin-top: 35px; margin-bottom: 15px;">
                    <span class="sr-only">Waiting for confirmation...</span>
                </div>
            </div>
    </div>
    <script>
        function check_mail_status(){
			fetch("/verification-status", { credentials: "include" }).then(response => {
            	response.json().then(data => {
					console.log(data)
					document.getElementById("mail").innerHTML = data.data.email_address
					if(data.verifications.email){
						window.location.href = "/"
					}
				})
            })
        }
		window.onload = check_mail_status
		setInterval(check_mail_status, 1000)
    </script>
</body>
