<head>
    {% include "head.html" %}
</head>
<body>
    <div class="navbar">
        <div style="float: left;" class="navbar-el">{{ user or  "" }}</div>
        <a href="/oauth2/sign_out" class="navbar-el">Logout</a>
    </div>
    <div class="main-container">

            <div class="center">
                A signal message was sent to <i id="signal"></i>.
                Please open your signal and enter the code your received.
                <input class="w-100 m-4" id="input-secret" type=text></input>
				<button class="btn btn-primary" onclick="check_input_secret()">Send</button>
                <p id="status">Waiting for status info..</p>
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
    </div>
    <script>

        function check_input_secret(){
            secret = document.getElementById("input-secret").value
			console.log(secret)
            // TODO dynamic secret length
            if(secret.length >= 3){
            	url = "/challenge-response?cid={{ cid }}" + "&secret=" + secret
				fetch(url, { method: "POST", credentials: "include" }).then(response => {
            		response.text().then(data => {
                        clearInterval(check_signal_status)
						console.log(data)
					})
            	})
        	}
		}
		document.getElementById("input-secret").addEventListener("input", check_input_secret)

        function check_signal_status(){
            url = "/challenge-response?cid={{ cid }}"
			fetch(url, { credentials: "include" }).then(response => {
            	response.text().then(data => {
					console.log(data)
					document.getElementById("status").innerHTML = data
				})
            })
        }
		window.onload = check_signal_status
		const css = setInterval(check_signal_status, 1000)

        function check_verification_status(){
			fetch("/verification-status", { credentials: "include" }).then(response => {
            	response.json().then(data => {
					console.log(data)
					document.getElementById("signal").innerHTML = data.data.phone_number
					if(data.verifications.signal){
						window.location.href = "/"
					}
				})
            })
        }
		window.onload = check_verification_status
		setInterval(check_verification_status, 1000)

    </script>
</body>
